@font-face {
    font-family: 	Nunito-Regular;
    src: url(/public/fonts/nunito.regular.ttf);
    
  }

*{
    box-sizing: border-box;
    font-family: Nunito-Regular;
  
}
.movieRows:hover  > .slick-slider >.slick-arrow > .MuiSvgIcon-root {
  display:block !important;
 
}

.slick-prev:before, .slick-next:before  {
  content: '' !important;
}
button.slick-arrow.slick-prev {
  height: 100%;
  width: 125px;
  left: -70px;
}
 button.slick-arrow.slick-next {
  height: 100%;
  width: 125px;
  right: -114px;
  padding: 50px;

}
button:hover .MuiSvgIcon-root{
  display: block;
}


.slick-arrow >  .MuiSvgIcon-root { 
  display: none ;
}
.slick-arrow:hover  .MuiSvgIcon-root{
  display: block !important;
}

