@font-face {
    font-family: 	Nunito-Regular;
    src: url(/public/fonts/nunito.regular.ttf);
    
  }

*{
    box-sizing: border-box;
    font-family: Nunito-Regular;
  
}

.slick-prev:before, .slick-next:before  {
  content: '' !important;
}
/* .slick-arrows{
  color:white;
  display:none !important;
  transition: all 300ms ease-in-out 0s !important;
  transform: scale(1);
}
.movieRows{
  transition: all 300ms ease-in-out 0s !important;
  transform: scale(1);
}

.movieRows:hover  > .slick-slider .slick-arrows{
  display:block !important;
  transition: all 300ms ease-in-out 0s !important;
  transform: scale(1);


} */